body {
  font-family: sans-serif;
}

core-header-panel {
  background: #e8eaf6;
  /* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}

core-toolbar {
  color:white;
  background-color: #3F51B5;
}

p {
  text-align:center;
  margin: 20px;
}

.mp3-box {
  margin-top:-20px;
}

#lbl-mp3 {
  display:inline-block;
  padding:3px;
}

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6;
}


/* equalizer */
#equalizer {
  position:absolute;
  bottom:10px;
  left:10px;
  width: 50%;
  height: 100px;
  overflow:hidden;
}

#equalizer .bar {
  width: 20px;
  float: left;
  margin-bottom: 20px;
  margin-left: 40px; 
}

#equalizer .bar .fill {
  position: relative;
  width: 100%;
  background: orange;
  -webkit-transition: all .3s ease;
}


